* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
#board div {
	width: 3.5vw;
	height: 3.5vw;
	border: 1px solid white;
	float: left;
	background-color: grey;
}
	#board {
	width: 35vw;
	height: 35vw;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
@media (max-width: 500px) {
	#board {
		width: 70vw;
		height: 70vw;
	}
	#board div {
	width: 7vw;
	height: 7vw;
	}
}
.rules p {
 	color: white;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
}
.furry {
	background-image: url("../images/furry.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.coin {
	background-image: url("../images/coin.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background: cover;
}
.hidden {
	display:none;
}
#score {
	color: white;
}

#gameOver {
	font-size: 30px;
}
#end {
	margin-top: 200px;
	color: white;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
}