* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    height: 100vh;
    max-height: 500px;
}
#board div {
	width: 7vh;
	height: 7vh;
	border: 1px solid white;
	float: left;
	background-color: grey;
}
#board {
width: 70vh;
height: 70vh;
max-height: 500px;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
}
.rules p {
 	color: white;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
}
.rules h3 {
 	color: white;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
}
.furry {
	background-image: url("../images/furry.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.coin {
	background-image: url("../images/coin.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background: cover;
}
.hidden {
	display:none;
}
#score {
	color: white;
}

#gameOver {
	font-size: 30px;
}
#end {
	margin-top: 200px;
	color: white;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;
}